<div class="grid">
    <div class="col-12 md:col-3">
        <div class="pl-6">
            <p-skeleton width="80%" height="40vh" />
        </div>
    </div>
    <div class="col-12 md:col-9">
        <div>
            <p-skeleton width="15rem" height="3em" styleClass="mb-4" />
            <p-skeleton width="10rem" styleClass="mb-3" />
            <p-skeleton width="15rem" styleClass="mb-3" />
            <p-skeleton height=".5rem" width="20em" styleClass="mb-3"/>
            <p-skeleton width="10rem" styleClass="mb-3" />
            <p-skeleton height=".5rem" width="20em" />
        </div>
    </div>
</div>