<div class="card">
    <p-tabMenu [model]="items" [activeItem]="activeItem" [style]="{'font-size': '2em', 'margin-top': '-0.8em', 'padding-bottom': '0.8em'}"/>
    @if (activeItem?.label === "Description") {
        <p class="text-xl font-normal text-justify">
            {{book?.description}}
        </p>
    }
    @else if (activeItem?.label === "Availability") {
        <accordion [book]="book" *ngif="book"></accordion>
    }
    @else if (activeItem?.label === "Leave Review") {
        <review/>
    }
</div>