<div class="card">
  <p-tabMenu [model]="items" [activeItem]="activeItem"
             [style]="{'font-size': '2em', 'margin-top': '-0.8em', 'padding-bottom': '0.8em'}"/>
  <div style="min-height: 30vh">
    @if (activeItem?.label === "Description") {
      <p class="text-xl font-normal text-justify">
        {{ book?.description }}
      </p>
    } @else if (activeItem?.label === "Availability") {
      <accordion [book]="book" *ngIf="book"></accordion>
    } @else if (activeItem?.label === "Leave Review") {
      @if (user) {
        <review [book]="book"/>
      } @else {
        <h3>You have to be logged in to access this feature!</h3>
      }
    } @else if (activeItem?.label === "Lend Book") {
      @if (user) {
        <lend-book [book]="book" *ngIf="book"></lend-book>
      } @else {
        <h3>You have to be logged in to access this feature!</h3>
      }
    } @else if (activeItem?.label === "Add Book to Your Collection") {
      @if (user) {
        <app-add-book-to-collection [bookId]="book?.id"></app-add-book-to-collection>
      } @else {
        <h3>You have to be logged in to access this feature!</h3>
      }
    }
  </div>
</div>
