@if (loading) {
    <h1>Loading...</h1>
}
@else {
    <div style="padding-right: 2em">
        <div class="grid">
            <div class="sm:col-12 md:col-3">
                <div class="flex justify-content-center flex-wrap">
                    <img class="border-round" style="width: 90%;" src="{{ book?.imgUrl }}" alt="book_cover"/>
                </div>
                <div class="flex justify-content-center pt-3">
                    <!-- <p-rating stars="5" [ngModel]="book?.averageRating" [readonly]="true" [cancel]="false"> -->
                    <p-rating stars="5"
                    [ngModel]="3"
                    [readonly]="true"
                    [cancel]="false"
                    [iconOnStyle]="{'transform': 'scale(2)', 'padding': '0.7em'}"
                    [iconOffStyle]="{'transform': 'scale(2)', 'padding': '0.7em'}">
                    </p-rating>
                </div>
            </div>
            <div class="col-12 md:col-9" style="padding-bottom: 3em;">
                <p class="font-bold" style="font-size: 2.5em;">{{book?.name}}</p>
                @for (author of book?.authors; track $index) {
                    <p class="text-3xl font-semibold">{{author}}</p>
                }
                <p>Publisher: {{book?.publisher}}</p>
                <p>Published: {{book?.year}}</p>
                <p>{{book?.numPages}} pages</p>
                @for (category of book?.categories; track $index) {
                    @if (book?.categories?.length == $index) {
                        <p>{{category}}</p>
                    }
                    @else {
                        <p>{{category}}</p>
                    }
                }
                <p>ISBN13: {{book?.isbn}}</p>
            </div>
        </div>
        <div class="grid">

            <div class="col-12 md:col-offset-3 md:col-9" style="margin-top: -2.5em;">
              <tab-menu [book]="book" *ngIf="book"></tab-menu>
            </div>
        </div>
    </div>
}
