<p-accordion class="w-full" expandIcon="pi pi-plus-circle" collapseIcon="pi pi-minus-circle">
  <p-accordionTab>
    <ng-template pTemplate="header">
      <div class="pl-4">
        <h2>{{ book?.name }}</h2>
        <p>{{ book?.authors }}</p>
        <div class="flex gap-2 mb-2">
          @for (category of book?.categories; track $index) {
            <p-tag value="{{ category }}"></p-tag>
          }
        </div>
        <p>ISBN: {{ book?.isbn }} </p>
      </div>
    </ng-template>
    <div>
      @for (availableCopy of book?.bookCopies; track $index) {
        <div class="grid">
          <div class="col-5">
            {{ availableCopy.id }}
          </div>
          <div class="col-5">
            {{ availableCopy.status }}
          </div>
          <div class="col-2">
            <p-button label="Next" icon="pi pi-arrow-right" (onClick)="chosenBook(availableCopy.id)" />
          </div>
        </div>
      }
    </div>
  </p-accordionTab>
</p-accordion>
