@if (loading) {
    <h1>loading...</h1>
}
@else {
    @for (letter of topBookByLetters| keyvalue; track $index) {
        <p style="font-size: xx-large;" class="p-0 m-0">{{letter.key}}</p>
        <hr class="p-0 m-0"/>
        <div class="container">
            <div class="grid">
            @for (book of letter.value; track $index) {
                
                    <div class="lg:col-3">
                        <book-card [book]="book"></book-card>
                    </div>
                }
            </div>
        </div>
    }
}
