<div style="display: block; height: 9em;">
  <div class="flex justify-content-around">
      <div class="p-toolbar-group-center flex-grow-1">
          <span class="p-input-icon-left" style="width: 90%;">
              <i class="pi pi-search" style="font-size: 1.3em"></i>
              <input pInputText placeholder="Search" #searchInput (input)="search(searchInput.value)" style="width: 100%; font-size: 1.3em" />
          </span>
      </div>
      <div>
        <p-dropdown 
          [style]="{'min-width':'13vw'}"
          [options]="categories" 
          (onChange)="onChange($event)"
          placeholder="Select a category" />
      </div>
  </div>
  <div style="width: 70%;margin: auto">
      <div class="alphabet my-5">
          @for (letter of alphabet; track $index) {
              <div (click)="filterByLetter(letter.toString())" class="letter">{{letter}}</div>
          }
      </div>
  </div>
</div>
@if (loading) {
    <h1>loading...</h1>
}
@else {
  @if(listType === 'user'){
    @for (letter of topBookByLetters | keyvalue; track $index) {
      <p style="font-size: xx-large;" class="p-0 m-0">{{letter.key}}</p>
      <hr class="p-0 m-0"/>
      <carousel-book-card [books]="letter.value"></carousel-book-card>
    }
  } @else if (listType == 'admin')
  {
    @for (letter of topBookByLetters | keyvalue; track $index) {

    }
  }
}
